:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;  
    --Verde: #39b54a;
    --negro: #000000; 
    --cuerpos-de-texto: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* MAIN */

main {
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
}

section {
    margin: 0 auto;
    width: 90%;
}
section h2{
    font-size: var(--titulares);
    margin-top: 0;
}

.items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.articulo-pagina-inicial {
    width:  100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;  
}

.articulo-pagina-inicial img {
    /* margin: auto; */
    width: 100%;
}

.articulo-pagina-inicial i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
}
.informacion-articulo-pagina-inicio{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    position: relative;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.informacion-articulo-pagina-inicio p{
    color: var(--GrisOscuro);
}

.contendor-precio-oferta {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contendor-precio-oferta p:nth-child(1) {
    width: 30%;
    color: var(--negro);
    font-weight: bold;
    font-size: var(--precios);
}
.contendor-precio-oferta p:nth-child(2) {
    width: 70%;
    color: var(--Verde);
    font-size: var(--descuentos);
}

.descripcion-producto-item{
    font-size: var(--descripciones);
    display: none;
}


/* Footer */
.contenedor-footer {
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.contenedor-footer i {
    color: var(--Celeste); 
    margin-bottom: 10px; 
    
}
.contenedor-footer h3 {
    color: var(--GrisOscuro);
    margin-bottom: 0;
}
.contenedor-footer p {
    color: var(--GrisOscuro);
    margin: 0;
    font-size: var(--cuerpos-de-texto);
}

@media (min-width: 835px) {
  
    .logo-mercadoLiebre{
        width:33%
    }
    .boton-busqueda {
        width: 33%;
    }

    .boton-busqueda input:nth-child(1){
        height: 25px;
        width: 50%;
    }

    .lupa-busqueda{
        height: 25px;
        border: 1px;
        border-radius: 0 25% 25% 0;
        background-color: var(--GrisClaro);
    }
    .texto-propuesta-valor{
        width: 33%;
    }

    .nav-header{
        display: grid;
        grid-template-columns:  1fr  1fr auto;
        grid-template-rows: 100%;
        justify-content: center;
        align-items: center;
        
    }

    nav ul li {
        float: left;
        padding: 10px;
    }

    .nav-1 {
        margin-left: 25px;
    }
    .nav-2{   /*Esto lo hago para mandar a la izquierda la segunda lista del nav */
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
    }
    .burger-menu {
        display: none;
    }

    .descripcion-producto-item {
        display: block;
    }

    .items{
        flex-direction: row;
    }
    
    .articulo-pagina-inicial {
        width: 45%; 
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav {
        display: block;
    }
    ul {
        list-style: none;
        padding: 0;
        margin-left: 8px;
    }
    
    ul a {
        color: var(--negro);
        text-decoration: none;
    }
}
