:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;  
    --Verde: #39b54a;
    --negro: #000000; 

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    display: grid;
    justify-items: center;
    background-color: #ebebeb;
}

header {
    width: 100%;
    background-color: var(--Amarillo);
}

.logo-mercadoLiebre{
    text-align: center;
}
.logo-mercadoLiebre img{
    width: 30%;
}

.boton-busqueda {
    margin: 10px;
    text-align: center;
}

.lupa-busqueda button{
    margin-left: 8px;
}
 
.lupa-busqueda i {
    color: var(--negro);
    display: absolute;
    left: 0px;

}

header p {
    margin-left: 8px;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 8px;
}

ul a {
    color: var(--negro);
    text-decoration: none;
}

section {
    margin: 0 auto;
    width: 90%;
}

.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.articulo-paginaInicial {
    width: 24%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;  
}

.articulo-paginaInicial img {
    /* margin: auto; */
    width: 100%;
}

.articulo-paginaInicial i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
}
.informacion-articulo-paginaInicio{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: relative;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.informacion-articulo-paginaInicio p{
    color: var(--GrisOscuro);
}

.contendor-PrecioOferta {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contendor-PrecioOferta p:nth-child(1) {
    width: 40%;
    color: var(--negro);
    font-weight: bold;
}
.contendor-PrecioOferta p:nth-child(2) {
    width: 60%;
    color: var(--Verde);
}



.burger-menu {
    text-align: center;
}

.burger-menu i{
    padding-top: 6px;
    color: var(--GrisClaro);
    width: 40px;
    height: 40px;
    background-color: var(--Celeste);
    border-radius: 5px;
    margin-bottom: 12px;
}

.contenedor-footer {
    padding: 10px;
    text-align: center;
    margin-bottom: 50px;
}
.contenedor-footer i {
    color: var(--Celeste); 
    margin-bottom: 10px; 
    
}
.contenedor-footer h3 {
    color: var(--GrisOscuro);
    margin-bottom: 0;
}
.contenedor-footer p {
    color: var(--GrisOscuro);
    margin: 0;
}

 /* .cards-container{
            display: grid;
            grid-template-columns: repeat(auto-fill, 240px);
            gap: 28px;
            place-content: center;
        } */